Repository colemvnio/genai-services, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, package, test, service, infrastructure

feat(workspaces): Monorepo, PNPM Workspaces, Common commands, IDE run configurations, Conditional Lint
  .github/workflows/lint.yml
  .run/applicationService _ build.run.xml
  .run/bedrockService _ build.run.xml
  .run/genai-services _ build.run.xml
  .run/genai-services _ install.run.xml
  .run/genai-services _ lint-fix.run.xml
  .run/genai-services _ lint.run.xml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/applicationService/package.json
  services/applicationService/src/main.ts
  services/applicationService/tsconfig.json
  services/bedrockService/package.json
  services/bedrockService/src/main.ts
  services/bedrockService/tsconfig.json
  tsconfig.json
Labels: docs, package, infrastructure

feat(workspaces): Monorepo, PNPM Workspaces, Common commands, IDE run configurations, Conditional Lint (#2)
  .github/workflows/lint.yml
  .run/applicationService _ build.run.xml
  .run/bedrockService _ build.run.xml
  .run/genai-services _ build.run.xml
  .run/genai-services _ install.run.xml
  .run/genai-services _ lint-fix.run.xml
  .run/genai-services _ lint.run.xml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/applicationService/package.json
  services/applicationService/src/main.ts
  services/applicationService/tsconfig.json
  services/bedrockService/package.json
  services/bedrockService/src/main.ts
  services/bedrockService/tsconfig.json
  tsconfig.json
Labels: docs, package, infrastructure

chore(ci): Use .nvmrc, Use PNPM, CAching
  applicationService/src/main.ts
Labels: service

feat(terraform): Core files to run Localstack
  .gitignore
  applicationService/src/main.ts
  terraform/README.md
  terraform/environments/local.tfvars
  terraform/environments/local/backend.tf
  terraform/environments/local/main.tf
  terraform/environments/local/provider.tf
  terraform/environments/local/variables.tf
  terraform/environments/variables.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/lambda/main.tf
  terraform/modules/lambda/outputs.tf
  terraform/modules/sns/main.tf
Labels: service, infrastructure

feat(terraform): Introduce LocalStack (#3)
  .gitignore
  terraform/README.md
  terraform/environments/local.tfvars
  terraform/environments/local/backend.tf
  terraform/environments/local/main.tf
  terraform/environments/local/provider.tf
  terraform/environments/local/variables.tf
  terraform/environments/variables.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/lambda/main.tf
  terraform/modules/lambda/outputs.tf
  terraform/modules/sns/main.tf
Labels: infrastructure

.github/labeler.yml:

docs:
  - '*.md'

package:
  - 'package.json'
  - 'package-lock.json'

test:
  - '*/tests/**/*.ts'
  - 'test-helpers/**/*.ts'

service:
  - 'applicationService/**'
  - 'bedrockService/'

infrastructure:
  - 'src/infrastructure/**/*.ts'
  - '.github/**/*.yml'
  - 'terraform/**/*.tf'
